// .transaction-list-container {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
//   gap: 24px;
// }

// .transaction-list {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
// }

// .filters {
//   width: 250px;
//   padding: 8px;
//   background-color: #f4f8fb;
//   border: 1px solid #ddd;
//   border-radius: 8px;
// }
.transaction-list-container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .transaction-list {
    flex: 2;
  }

  .filters {
    flex: 1;
    max-width: 300px;
  }
}
