<mat-card class="filter-panel">
  <h3>Filter by Transaction Type</h3>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Transaction kind</mat-label>
    <mat-select [(value)]="selectedKind" (selectionChange)="onKindChange($event.value)">
      @for (kind of kindsWithAll; track kind) {
        <mat-option [value]="kind"> {{transactionKindMap[kind]}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

    <!-- Date range FROM -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" (dateChange)="emitDateRange()">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>

  <!-- Date range TO -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" (dateChange)="emitDateRange()">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>

  <!-- Reset filters dugme -->
  <div class="reset-button-wrapper">
    <button mat-stroked-button color="warn" (click)="resetFilters()">
      Reset filters
    </button>
  </div>
</mat-card>

