@use '../../../../styles/variables.scss' as *;

.date-filter-wrapper {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: $border-radius + 6px;
  width: 100%;
}

.date-range-field {
  width: 220px;
  height: 56px;
  padding: 0;
  border: none;

  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-outline,
  .mdc-notched-outline {
    display: none !important;
  }

  .mat-mdc-form-field-flex {
    background-color: transparent !important;
    border: none !important;
  }

  .mat-mdc-text-field-wrapper {
    background-color: white !important;
    border-radius: $border-radius + 2px !important;
    padding: 0 $spacing-unit;
    height: 100%;
    display: flex;
    align-items: center;
    transition: border-color 0.2s ease-in-out;
  }

  .mat-mdc-form-field-infix {
    font-size: 0.95rem !important;
    font-weight: 500 !important;
    color: black !important;
    padding: $spacing-unit * 0.5 0 !important;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .mat-mdc-input-element {
    color: black !important;
    caret-color: $primary-color !important;
  }

  .mat-mdc-icon-button {
    color: $primary-color !important;
  }

  &:hover .mat-mdc-text-field-wrapper {
    border-color: lighten(#3D58ED, 10%) !important;
  }

  .mat-datepicker-toggle {
    margin-left: auto;
  }
}

.mat-date-range-input-container {
  margin-top: 15px;
}

// Datepicker panel
.mat-datepicker-content-container {
  background-color: white;
  border-radius: $border-radius;
  color: black;

  .mat-calendar-content {
    color: black !important;
  }
}

.mat-calendar-body-in-range {
  background-color: rgba(61, 88, 237, 0.2) !important; 
  color: black !important;
}

.mat-calendar-body-range-start,
.mat-calendar-body-range-end {
  background-color: #3D58ED !important; 
  color: black !important;
}
.mat-calendar-body-cell{
  color: black !important;
}

.mat-mdc-form-field{
  width: 100%;
}