<div class="date-filter-wrapper">
  <mat-form-field appearance="fill" class="date-range-field">
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate [(ngModel)]="dateRange.begin" (dateChange)="onDateChange()" placeholder="Start date">
    <input matEndDate [(ngModel)]="dateRange.end" (dateChange)="onDateChange()" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker" />
  <mat-date-range-picker #picker panelClass="custom-datepicker" />
</mat-form-field>
</div>
