<h2 mat-dialog-title>Choose category</h2>

<mat-dialog-content>
  <p>You have selected {{ data.selectedCount }} transaction(s), for multiple categorization</p>

  <!-- Kategorija -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Choose category</mat-label>
    <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()">
      @for (cat of parentCategories; track cat.id) {
        <mat-option [value]="cat">{{ cat.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Subkategorija -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Choose subcategory (optional)</mat-label>
    <mat-select [(ngModel)]="selectedSubcategory" [disabled]="subcategories.length === 0">
      @for (sub of subcategories; track sub.id) {
        <mat-option [value]="sub.name">{{ sub.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onApply()">Apply</button>
</mat-dialog-actions>
