<div class="dialog-container">
  <h2>Choose category</h2>

  <mat-dialog-content class="dialog-content">
    <p class="dialog-description">
    You have selected {{ data.selectedCount }} transactions for multiple categorization
  </p>

  <mat-form-field appearance="fill" class="styled-field">
    <mat-label>Choose category</mat-label>
    <mat-select panelClass="category-select-panel" [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()">
      @for (cat of parentCategories; track cat.code) {
        <mat-option class="category-select-option" [value]="cat">{{ cat.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="styled-field">
    <mat-label>Choose subcategory (optional)</mat-label>
    <mat-select panelClass="category-select-panel" [(ngModel)]="selectedSubcategory" [disabled]="subcategories.length === 0">
      @for (sub of subcategories; track sub.code) {
        <mat-option class="category-select-option" [value]="sub.name">{{ sub.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  </mat-dialog-content>
  

  <mat-dialog-actions align="end" class="dialog-actions">
    <button class="btn-secondary" (click)="onCancel()">Cancel</button>
    <button class="btn-primary" (click)="onApply()">Apply</button>
  </mat-dialog-actions>
</div>
