<mat-form-field appearance="fill" class="styled-field full-width">
  <mat-label>Filter by transaction type:</mat-label>

  <mat-select
    [value]="selectedKind"
    (selectionChange)="onSelectionChange($event.value)"
    panelClass="category-select-panel">
    <mat-option class="category-select-option" value="All">All</mat-option>
    @for (kind of kinds; track kind) {
      <mat-option class="category-select-option" [value]="kind">
        {{ getLabel(kind) }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
