<mat-form-field appearance="fill" class="kind-filter-select" style="width: 100%">
  <mat-label class="kind-filter-label"><strong>Filter by transaction type:</strong></mat-label>
  <br>
  <mat-select
    [value]="selectedKind"
    (selectionChange)="onSelectionChange($event.value)"
    panelClass="kind-filter-select-panel">
    <mat-option class="kind-filter-option" value="All">All</mat-option>
    @for (kind of kinds; track kind) {
      <mat-option class="kind-filter-option" [value]="kind">
        {{ getLabel(kind) }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

