<mat-card class="transaction-card">
  <div class="transaction-header">
    <div class="direction-icon">
      <mat-icon [ngClass]="{
        'credit': transaction.direction === 'c',
        'debit': transaction.direction === 'd'
      }">
        {{ transaction.direction === 'c' ? 'arrow_downward' : 'arrow_upward' }}
      </mat-icon>
    </div>

    <div class="transaction-main">
      <div class="top-row">
        <h3>{{ transaction.beneficiaryName }}</h3>
        <span class="amount">{{ transaction.amount | number:'1.2-2' }} {{ transaction.currency }}</span>
      </div>

      <div class="bottom-row">
        <span>{{ transaction.date | date: 'dd.MM.yyyy' }} • ID: {{ transaction.id }}</span>
        <!-- Ako postoji kategorija -->
        @if (transaction.category) {
          <mat-chip (click)="openCategorizeDialog()" color="primary" selected>
            {{ transaction.category }}
          </mat-chip>
        } @else {
          <!-- Ako nema kategorije -->
          <button mat-stroked-button (click)="openCategorizeDialog()">
            + Add category
          </button>
        }
        <button mat-button class="split-btn" (click)="openSplitDialog()">Split transaction</button>
        @if (transaction.isSplit) {
          <mat-chip color="warn" selected>Split</mat-chip>
        }
      </div>
    </div>
  </div>
</mat-card>

