@use '@angular/material' as mat;
@use 'styles/variables.scss' as *;


/* Global scrollbar styling */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: $muted-text-color;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}


body {
  scrollbar-width: thin;
  scrollbar-color: $muted-text-color transparent;
}
.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important; 
  backdrop-filter: blur(2px); 
  -webkit-backdrop-filter: blur(2px); 
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000; 
}

.layout {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}